.cardsPokemons{
    margin: auto auto;
    display: inline-table;
    align-items: center;
    width: 85%;
    padding-bottom:18px ;
    }


    .btn-paginado{
        margin: 0px 10px;
        height: 40px;
        width:  150px;
        border-radius: 10px;  
        background-color: rgb(93, 5, 233);
        color: white;
        font-family: PokemonClassic;
        border-color:grey;
      }

      .btn-paginadoL{
        margin: 20px;
        margin-top: 100px;
        height: 350px;
        width:  60px;
        border-radius: 10px;  
        background-color: rgba(92, 5, 233, 0.385);
        border:unset ;
        color: white;
        font-family: PokemonClassic;
        border-color:grey;
        float:left;
        background-position-y: unset;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.439);
      }
      .btn-paginadoR{
        margin: 20px;
        margin-top: 100px;
        height: 350px;
        width:  60px;
        border-radius: 10px;  
        background-color: rgba(92, 5, 233, 0.385);
        border:unset ;
        color: white;
        font-family: PokemonClassic;
        border-color:grey;
        float:right;
        background-position-y: unset;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.439);
      }

      .PaginadoNav{
        overflow: hidden;

      }