.card{
    background: rgba(222, 224, 222, 0.535);
    /* background-color: seagreen; */
    width: 200px;
    height: 180px;
    display: inline-block;
    border-radius: 15px;
    justify-content: center;
    margin: 90px 5px -90px;
    
/*     
height: 250px;
width: 200px;
background-color: seagreen;
margin:10px;
display: inline-block;
border-radius: 15px;
box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.514); */
}
.h5Card{
    
color: rgb(250, 248, 248);
text-decoration: none;
font-size: 20px;
margin: 0px;
}
.spanCard{
   
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.img-card{
    margin-top: -80px;
    height:150px;
        
   }

  .ul-Card{
    margin-top: -20px;
    margin-left: -35px;
    list-style-type: none;
   }