.barra {
display:flex;
width: 100%;
height: 170px;

background: linear-gradient(to bottom, red, rgba(8, 10, 9, 0.61));
}


.logo{
  display: flex;
  height: 180px;
  margin: 0; 
  
}

.logo:hover{
    transform: rotate(-15deg);
    transition: 1s;
}



  .btn-Nav{
    margin: 10px;
    height: 40px;
    width:  150px;
    border-radius: 10px;  
    background-color: rgb(93, 5, 233);
    color: white;
    font-family: PokemonClassic;
    border-color:grey;
}

