.barra {
display:flex;
width: 100%;
height: 170px;
background: linear-gradient(to bottom, red, rgba(8, 10, 9, 0.61));
}


.logo{
  height: 180px;
  margin: auto; 
  
}

.logo:hover{
    transform: rotate(-15deg);
    transition: 1s;
}

.btn_group{
width: 90%;
}

  .btn-Nav{
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 45px;
  height: 120px;
  width:  120px;
  border-radius: 100%;  
  background-color: rgb(93, 5, 233);
  color: white;
  font-family: PokemonClassic;
  border-color:grey;
}
